In [ ]:
# Importacion de librerias
import pandas as pd

In [ ]:
# Carga de datos de ratings
ratings = pd.read_csv('dataset/ratings30.csv')
print(ratings.shape)
ratings

(2775037, 4)

         userId  movieId  rating   timestamp
0             1       17     4.0   944249077
1             1       25     1.0   944250228
2             1       29     2.0   943230976
3             1       30     5.0   944249077
4             1       32     5.0   943228858
...         ...      ...     ...         ...
2775032   17496   122922     4.5  1675274931
2775033   17496   122926     4.0  1675278164
2775034   17496   128360     4.0  1675276830
2775035   17496   134130     4.0  1675275154
2775036   17496   138210     4.0  1675277654

[2775037 rows x 4 columns]

In [30]:
ratings['userId'].max()

17496

In [ ]:
# Carga de datos de peliculas
movies = pd.read_csv('dataset/movies.csv')
print(movies.shape)
movies

(41454, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
41449,292343,Grand Paris (2023),Adventure|Comedy|Sci-Fi
41450,292349,Totally Killer (2023),Comedy|Horror
41451,292467,Space Wars: Quest for the Deepstar (2023),Action|Adventure|Sci-Fi
41452,292529,Something to Remind Me (2002),Drama|Thriller
41453,292619,Jacir (2023),Drama

In [ ]:
# Verificar si hay alguna película que no se encuentre en la tabla de películas
ratings[~ratings['movieId'].isin(movies['movieId'])]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [ ]:
# Verificar si existe una pelicula en ratings con id 395
ratings[ratings['movieId'] == 395]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [ ]:
# Verificar si hay alguna pelicula en ratings que no se encuentre en movies
movies[~movies['movieId'].isin(ratings['movieId'])]

Empty DataFrame
Columns: [movieId, title, genres]
Index: []

In [ ]:
# Visualizar los valores mínimos y máximos de la columna movieId en movies
print(movies['movieId'].min())
print(movies['movieId'].max())

1
292619

In [ ]:
# Visualizar los valores mínimos y máximos de la columna movieId en ratings
print(ratings['movieId'].min())
print(ratings['movieId'].max())

1
292619

In [ ]:
# Guardar el dataset limpio de movies
movies.to_csv('dataset/movies30.csv', index=False)