In [1]:
# Importacion de librerias
import pandas as pd

In [2]:
# Carga de datos de ratings
ratings = pd.read_csv('dataset/ratings25.csv')
print(ratings.shape)
ratings

(25000095, 4)

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [3]:
ratings['userId'].max()

162541

In [4]:
# Carga de datos de peliculas
movies = pd.read_csv('dataset/movies25.csv')
print(movies.shape)
movies

(59047, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
59042,209157,We (2018),Drama
59043,209159,Window of the Soul (2001),Documentary
59044,209163,Bad Poems (2018),Comedy|Drama
59045,209169,A Girl Thing (2001),(no genres listed)
59046,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [5]:
movies['movieId'].count()

59047

In [6]:
ratings.shape

(25000095, 4)

In [16]:
# Verificar si hay alguna película que no se encuentre en la tabla de películas
ratings[~ratings['movieId'].isin(movies['movieId'])]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [9]:
ratings['userId'].unique().shape

(162541,)

In [17]:
# Verificar si existe una pelicula en ratings con id 395
ratings[ratings['movieId'] == 395]

          userId  movieId  rating   timestamp
951383      6394      395     3.0   849380414
1174506     7933      395     3.0   970746913
1225430     8277      395     3.0   846069097
4504722    29595      395     2.5  1181192082
4773441    31171      395     2.0   855002504
6377129    41387      395     4.0   883853827
8971300    58451      395     5.0  1030466052
12121417   78616      395     4.0  1265399104
16890086  109517      395     4.0  1008783472
18855622  122236      395     3.5  1065338246
22234912  144564      395     3.5  1142408686
22419570  145782      395     0.5  1135595156

In [18]:
# Verificar si hay alguna pelicula en ratings que no se encuentre en movies
movies[~movies['movieId'].isin(ratings['movieId'])]

,movieId,title,genres
8371,25817,Break of Hearts (1935),Drama|Romance
8763,26361,Baby Blue Marine (1976),Drama
11556,52696,"Thousand and One Nights, A (1001 Nights) (1945)",Adventure
11997,56513,Suicide Killers (2006),Documentary
12173,58209,Alex in Wonder (Sex and a Girl) (2001),Comedy|Drama
...,...,...,...
62238,208411,Eternal Blood (2002),Action|Horror|Thriller
62239,208413,Big Business (1929),Comedy
62240,208415,The Student of Prague (1926),Horror
62298,208655,The Coldest Game (2019),(no genres listed)
62342,208804,Spell (2018),Comedy|Drama|Thriller

In [10]:
# filter movies
movies = movies[movies['movieId'].isin(ratings['movieId'])]

In [8]:
# Visualizar los valores mínimos y máximos de la columna movieId en movies
print(movies['movieId'].min())
print(movies['movieId'].max())

1
209171

In [9]:
# Visualizar los valores mínimos y máximos de la columna movieId en ratings
print(ratings['movieId'].min())
print(ratings['movieId'].max())

1
209171

In [12]:
# Guardar el dataset limpio de movies
movies.to_csv('dataset/movies25.csv', index=False)